.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
:root{
    --box-radius:11px;
}


body{
    font-family: 'Lexend Deca', sans-serif;
    /* font-family: 'Big Shoulders Display', cursive; */
    Font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
}

.conainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (max-width:375px) {
    .conainer{
        flex-direction: column;
        height: auto;
    }
}
.conainer .box{
    position: relative;
    width: 20.48%;
    height: 40em;
    padding: 35px 81px 59px 53px;
    background-color: var(--color);
}
.conainer .box:first-child{
    border-top-left-radius:var(--box-radius) ;
    border-bottom-left-radius:var(--box-radius);
}
.conainer .box:last-child{
    border-top-right-radius:var(--box-radius);
    border-bottom-right-radius:var(--box-radius);
}
@media (max-width:375px) {
    .conainer .box{
        width: 60%;
    }
    .conainer .box:first-child{
    border-bottom-left-radius:0;
    border-top-left-radius:var(--box-radius) ;
    border-top-right-radius:var(--box-radius);
    }
    .conainer .box:last-child{
    border-top-right-radius:0;
    border-bottom-left-radius:var(--box-radius);
    border-bottom-right-radius:var(--box-radius);
    }
}
.conainer .box .box-svg{
    width: 100%;
    height: 97px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.conainer .box .box-svg svg{
}
.conainer .box h3{
    color: hsl(0, 0%, 95%);
    font-size: 2.4rem;
    text-transform: uppercase;
}
.conainer .box p{
    color: hsla(0, 0%, 89%, 0.75);
    line-height: 1.7;
    font-size: 1.5rem;
    width: 306.9px;
}
@media (max-width:375px) {
    .conainer .box p{
        width: 60%;
        width: 246px;
        font-size: 1.1rem;
    }
}
.conainer .box a{
    position: absolute;
    bottom: 49px;
    text-decoration: none;
    color: var(--color);
    font-size: 21px;
    font-weight: bold;
    padding: 18px 28px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 26px;
    text-transform: capitalize;
    cursor: pointer;
}
.conainer .box a:hover{
    color: hsl(0, 0%, 95%);
    background-color: var(--color);
    border: 2px solid hsl(0, 0%, 95%);
    transition: 0.5s;
}